body {
  font-size: 0.75rem;
}

.left {
  grid-area: left;
  //   border-right: 1px solid rgba(0,0,0,.1);
}

.right {
  grid-area: right;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

header {
  grid-area: header;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 360px auto 240px;
  grid-template-areas:
    'header header header'
    'left content right'
    'footer footer footer';
}

.list-group > .list-group > .list-group-item {
  // border-radius: 0;
  padding-left: 2rem;
}

.list-group + .list-group-item {
  border-top-width: 0;
}

.list-group > .list-group > .list-group-item:first-child {
  border-radius: 0;
  border-top-width: 0;
}

.list-group > .list-group > .list-group-item:last-child {
  border-radius: 0;
}

.list-group > .list-group > .list-group > .list-group-item {
  padding-left: 2.75rem;
}

.list-group > .list-group > .list-group > .list-group > .list-group-item {
  padding-left: 3.5rem;
}

.list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group-item {
  padding-left: 4.25rem;
}

.list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group-item {
  padding-left: 5rem;
}

.list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group-item {
  padding-left: 5.75rem;
}

.list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group-item {
  padding-left: 6.5rem;
}

.list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group-item {
  padding-left: 7.25rem;
}

.list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group-item {
  padding-left: 8rem;
}

.list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group
  > .list-group-item {
  padding-left: 8.75rem;
}

.list-group-item.active a {
  color: white;
}
